
h1{
    margin-bottom: 2rem;
}
.next__button{
    width: 100px;
    align-self: center;
}
.quizs{
display: flex;
width: 50%;
flex-direction: column;


}
.options{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5rem;
}
h4{
    background-color: lightgray;
    padding: .6rem;
    border-radius: 5px;
    cursor: pointer;
}